Xft.dpi:    96:unscaled
Xft.antialias: true
Xft.rgba:   rgb
Xft.hinting: true
Xft.hintstyle: hintmedium
Xft.lcdfilter: lcddefault


! Emacs settings
Emacs.geometry: 240x120
!Emacs.font: Fira Code 21

! URxvt settings

! General

! Fonts
URxvt.font: xft:Fira Code :style=Regular:size=19
URxvt.boldFont: xft:Fira Code :style=Bold:size=19
URxvt.italicFont: xft:Fira Code :style=Italic:size=19
URxvt.boldItalicFont: xft:Fira Code :style=Bold Italic:size=19

URxvt.letterSpace: 0
urxvt.loginShell:         true
urxvt.scrollBar:         false
urxvt.secondaryScroll:    true
urxvt.cursorBlink:       false
!urxvt.perl-ext-common: default,matcher,searchable-scrollback,resize-font

urxvt.matcher.button:  1
!  - catch ugly URLs

URxvt.lineSpace: 0
URxvt.geometry: 80x40
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 32
URxvt.iso14755: false

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1





! st settings
! These are all possible options, presented with default values.
! xst will fallback to *.option if st.option is not present.
! see src/config.h for more information about option meanings.

! These options only take effect on startup.

!twobwm.border_width: 12
!twobwm.outer_border: 6
!twobwm.focus_color: #ffaa77
!twobwm.unfocus_color: #ccaaaa
!twobwm.fixed_color: #cc6666
!twobwm.unkill_color: #cc2255
!twobwm.outer_border_color: #665577
!twobwm.fixed_unkill_color: #ffddcc
!twobwm.inverted_colors: false
!twobwm.enable_compton: false

! Set depth to make transparency work.

! X colors.
! Generated by 'wal'
*foreground:        #91c5e0
*background:        #33224a
*.foreground:       #91c5e0
*.background:       #33224a
emacs*foreground:   #91c5e0
emacs*background:   #33224a
URxvt*foreground:   #91c5e0
XTerm*foreground:   #91c5e0
UXTerm*foreground:  #91c5e0
URxvt*background:   [100]#33224a
XTerm*background:   #33224a
UXTerm*background:  #33224a
URxvt*cursorColor:  #91c5e0
XTerm*cursorColor:  #91c5e0
UXTerm*cursorColor: #91c5e0
URxvt*borderColor:  [100]#33224a

! Colors 0-15.
*.color0: #33224a
*color0:  #33224a
*.color1: #FEA91A
*color1:  #FEA91A
*.color2: #355EA5
*color2:  #355EA5
*.color3: #9E2984
*color3:  #9E2984
*.color4: #D40C86
*color4:  #D40C86
*.color5: #C15F93
*color5:  #C15F93
*.color6: #1199D8
*color6:  #1199D8
*.color7: #91c5e0
*color7:  #91c5e0
*.color8: #65899c
*color8:  #65899c
*.color9: #FEA91A
*color9:  #FEA91A
*.color10: #355EA5
*color10:  #355EA5
*.color11: #9E2984
*color11:  #9E2984
*.color12: #D40C86
*color12:  #D40C86
*.color13: #C15F93
*color13:  #C15F93
*.color14: #1199D8
*color14:  #1199D8
*.color15: #91c5e0
*color15:  #91c5e0

! Black color that will not be affected by bold highlighting.
*.color66: #33224a
*color66:  #33224a

! Xclock colors.
XClock*foreground: #91c5e0
XClock*background: #33224a
XClock*majorColor:  rgba:91/c5/e0/ff
XClock*minorColor:  rgba:91/c5/e0/ff
XClock*hourColor:   rgba:91/c5/e0/ff
XClock*minuteColor: rgba:91/c5/e0/ff
XClock*secondColor: rgba:91/c5/e0/ff
